<div>
    <label for="password">Password:</label>
    <input type="password" id="password" (input)="updatePasswordStrength()" [(ngModel)]="password">
    <div class="password-meter">
      <div class="strength-section" [ngClass]="{'gray': passwordLength === 0, 'red': passwordLength < 8 && passwordLength > 0, 'yellow': passwordLength >= 8 && passwordStrength === 'medium', 'green': passwordStrength === 'strong'}"></div>
      <div class="strength-section" [ngClass]="{'gray': passwordLength === 0 || passwordLength < 8, 'red': passwordLength >= 8 && passwordStrength === 'easy', 'yellow': passwordLength >= 8 && passwordStrength === 'medium', 'green': passwordStrength === 'strong'}"></div>
      <div class="strength-section" [ngClass]="{'gray': passwordLength === 0 || passwordLength < 8, 'red': passwordLength >= 8 && passwordStrength === 'easy', 'yellow': passwordLength >= 8 && passwordStrength === 'medium', 'green': passwordStrength === 'strong'}"></div>
    </div>
  </div>